.background-image {
  background-image: url("https://imgur.com/8wdOViA.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
